{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Testimonials section -->

<div id="Testimonials">
    <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">Reviews about our Portal</p>
        <h2 class="h5 text-uppercase mb-4">Testimonials</h2>
    </header>
    <div class="outerdiv">
        <div class="innerdiv">

            <!-- div1 -->
            <div class="div1 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                    <div class="detbox">
                        <p class="name">Manav Soni</p>
                        <p class="designation">Verified Retailor</p>
                    </div>
                </div>
                <div class="review">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, blanditiis labore sint quis totam est maiores vero voluptatum officia animi.</h4>
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil consequuntur enim beatae, adipisci aliquid itaque laborum. Consequatur nihil perspiciatis dolorum illo debitis, eaque ullam maiores? Voluptatibus cumque quaerat magni? ”</p>
                </div>
            </div>
            <!-- div2 -->
            <div class="div2 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                    <div class="detbox">
                        <p class="name">Harsh Valani</p>
                        <p class="designation">Verified Wholesaler</p>
                    </div>
                </div>
                <div class="review">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing..</h4>
                    <p>“ Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, excepturi ducimus numquam quis animi fugiat architecto dignissimos eveniet omnis voluptatibus!”</p>
                </div>
            </div>
            <!-- div3 -->
            <div class="div3 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                    <div class="detbox">
                        <p class="name dark">Bhargav Chaudhary</p>
                        <p class="designation dark">Verified Retailor</p>
                    </div>
                </div>
                <div class="review dark">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia voluptatum tempore voluptate ab autem dicta accusantium, eligendi repellendus nobis, explicabo doloribus ad officia exercitationem. Corporis ipsum ab fugit, pariatur sed modi, sit, itaque laboriosam illum inventore dignissimos perferendis tenetur veniam harum dolore soluta totam omnis deleniti numquam voluptates in.”</p>
                </div>
            </div>
            <!-- div4 -->
            <div class="div4 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                    <div class="detbox">
                        <p class="name dark">Harsh Makwana</p>
                        <p class="designation dark">Verified Retailor</p>
                    </div>
                </div>
                <div class="review dark">
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias corrupti dignissimos corporis fugiat consequatur rem laudantium at adipisci eum. Ex. ”</p>
                </div>
            </div>
            <!-- div5 -->
            <div class="div5 eachdiv">
                <div class="userdetails">
                    <div class="imgbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                    <div class="detbox">
                        <p class="name">Akshay Vayak</p>
                        <p class="designation">Verified User</p>
                    </div>
                </div>
                <div class="review">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quia placeat repellat nesciunt, laboriosam voluptatibus.</h4>
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum ratione laborum expedita repellendus repellat autem facere ullam dolorem repudiandae.”</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}